<%- include('../partials/header') %>


<main class="main" id="main">
    <div class="container">
        <h2 class="text-center text-capitalized">add an actor</h2>
<!-- use POST url from actorRoutes to get the data -->
        <form action="" class="form" id="actorForm"></form>
    </div>
</main>





<%- include('../partials/header') %>