<%- include('../partials/header') %>


<main class="main" id="main">
    <div class="container">
        <h2 class="text-center">404 Error. Page not found</h2>
    </div>
</main> 
<!-- go back to router.js to render error page -->


<%- include('../partials/footer') %>