
<!-- step2 - go to router to setup route for home.ejs -->
<!-- step3 copy & paste header in header.ejs -->
<!-- step4 - copy & paste footer in footer.ejs -->
 
<%- include('../partials/header') %>

    <main class="main" id="main">
        <div class="container">
            <h2>main</h2>
        </div>
    </main>

<%- include('../partials/footer') %>
